@model IEnumerable<UniversityApplicationMVC.Models.UniversityModels.ClassRoomAllocation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Course
        </th>
        <th>
            Room
        </th>
        <th>
            Day
        </th>
        <th>
            StartingTime
        </th>
        <th>
            EndingTime
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.RoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day.DayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndingTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassRoomAllocationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassRoomAllocationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassRoomAllocationId })
        </td>
    </tr>
}

</table>
